<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.webapi.mapper.PostMapper">

    <!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="com.blog.webapi.dbentity.Post" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO posts (user_id, title, content)
        VALUES (#{userId}, #{title}, #{content})
    </insert>

    <!-- 게시글 조회 -->
    <select id="getPostById" parameterType="long" resultType="com.blog.webapi.dbentity.Post">
        SELECT * FROM posts WHERE id = #{id}
    </select>

    <select id="getPosts" resultType="com.blog.webapi.dbentity.Post">
        SELECT *
        FROM posts
        WHERE user_id = #{userId}
        ORDER BY id DESC
            LIMIT #{page}, #{rawCount}
    </select>

    <!-- 게시글 삭제 (해당 게시글의 소유자만 삭제 가능하도록 조건 추가) -->
    <delete id="deletePost">
        DELETE FROM posts
        WHERE id = #{id}
          AND user_id = #{userId}
    </delete>

    <update id="updatePost" parameterType="com.blog.webapi.dbentity.Post">
        UPDATE posts
        SET title = #{title},
            content = #{content}
        WHERE id = #{id}
    </update>
</mapper>
